<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title> Correct Address </title>
  <script>
function goBack() {
  window.history.back();
}
</script>
</head>
<body>
  <div class="area card">
    <p th:text="${address}"></p>
  </div>
  <div class="center">
    <button onclick="goBack()" class="button">Înapoi</button>
  </div>

</body>
</html>